<div class="container">
    <h1>LifePlan Diagnosis</h1>
    <form class="example-form">
        <div class="section">
            <mat-form-field>
                <mat-label>名前</mat-label>
                <input matInput [(ngModel)]="name" name="name">
            </mat-form-field>
        </div>
        <div class="section">
            <mat-radio-group [(ngModel)]="gender" name="gender">
                <mat-radio-button value="1">
                    男性 <i class="fa fa-male" aria-hidden="true"></i>
                </mat-radio-button>
                <mat-radio-button value="2">
                    女性 <i class="fa fa-female" aria-hidden="true"></i>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="section">
            <mat-form-field>
                <mat-label>年収</mat-label>
                <input matInput [(ngModel)]="income" name="income">
                <span matSuffix>万円</span>
            </mat-form-field>
        </div>
        <div class="section">
            <mat-form-field>
                <mat-label>現在の貯蓄額</mat-label>
                <input matInput [(ngModel)]="savings" name="savings">
                <span matSuffix>万円</span>
            </mat-form-field>
        </div>
        <div class="section">
            <mat-form-field>
                <mat-label>生活費</mat-label>
                <input matInput [(ngModel)]="costOfLiving" name="costOfLiving">
                <span matSuffix>万円/月</span>
            </mat-form-field>
        </div>
    </form>
</div>