<h1>家計収支データ</h1>
<div class="container">
    <div class="column">
        <div class="column-header">
            <h2>収入</h2>
            <p>月間{{ incomeTotal }}万円</p>
        </div>
        <div class="column-body">
            <div class="column-content" *ngFor="let income of incomeList">
                <div class="caption">{{ income.caption }}</div>
                <div class="content">{{ income.amount }}万円</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="column-header">
            <h2>支出</h2>
            <p>月間{{ expenseTotal }}円</p>
        </div>
        <div class="column-body">
            <div class="column-content" *ngFor="let expense of expenseList">
                <div class="caption">{{ expense.caption }}</div>
                <div class="content">{{ expense.amount }}万円</div>
            </div>
        </div>
    </div>
    <div class="column">
        <div>貯蓄</div>
        <div>投資</div>
    </div>
</div>